<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 1: Shankar Ghimire</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div class="container">
 
        <header>
       		
       		
        	<h1>Shankar Ghimire</h1>
        	
        	<h3>Enterprise Java Development</h3>
        
        </header>
        <nav>
                <ul class="flex-list">
                <li class="active"> <a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a> </li>
                <li> <a href="/assignment1"><i class="fa fa-book" aria-hidden="true"></i>Assignment-01</a> </li>
                <li> <a href="#"><i class="fa fa-book" aria-hidden="true"></i>Java Mid-Term </a> 
                	<div class="sub-menu1">
	                    <ul class="dropdown-menu">
	                        <li><a href="/midTermPartA">Part-A</a></li>
	                        <li><a href="/midTermPartB">Part-B</a></li>                       
	                    </ul>
                    </div>
                </li>
                <li> <a href="/contact"><i class="fa fa-phone" aria-hidden="true"></i>Contact</a> </li>
                <li> <a href="/aboutus">About Us</a> </li>
            </ul>
        </nav>
        <main>
	<div>
				<h1>About Us </h1>
				<h2>Under Construction</h2>
			</div>
        </main>
        <footer>
            Copy right &copy;Shankar Ghimire
        </footer>
    </div>
</body>
</html>