<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 1: Shankar Ghimire</title>
    <link rel="stylesheet" href="./css/main.css">
    
    <!-- For FontAwesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="./js/contact.js"></script>
</head>
<body>
    <div class="container">
 
        <header>
       		
       		
        	<h1>Shankar Ghimire</h1>
        	
        	<h3>Enterprise Java Development</h3>
        
        </header>
        <nav>
               <ul class="flex-list">
                <li class="active"> <a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a> </li>
                <li> <a href="#"><i class="fa fa-book" aria-hidden="true"></i>Assignment-01</a> </li>
                <li> <a href="#"><i class="fa fa-book" aria-hidden="true"></i>Java Mid-Term </a> 
                	<div class="sub-menu1">
	                    <ul class="dropdown-menu">
	                        <li><a href="/midTermPartA">Part-A</a></li>
	                        <li><a href="/midTermPartB">Part-B</a></li>                       
	                    </ul>
                    </div>
                </li>
                <li> <a href="/contact"><i class="fa fa-phone" aria-hidden="true"></i>Contact</a> </li>
                <li> <a href="/aboutus"><i class="fa fa-user" aria-hidden="true"></i>About Us</a> </li>
            </ul>
        </nav>
        <main>
			<div>
				<h1>Contact Us </h1>
				<h2>Under Construction</h2>
			</div>
			<div>
				<form method="post" action="#" th:action="@{/processContact}" th:object="${user}" >
					<div class="div-form-element">
						<label>Name : </label>
						<input name="user-name" id='user-name' type="text" placeholder="Full Name" th:field="*{userName}" />
					</div>
					<div class="div-form-element">
						<label>Email : </label>
						<input name="user-email" id='user-email' type="email" placeholder="Email" th:field="*{userEmail}" />
					</div>
					<div>
						<button type='button' id='btn-contact' th:onclick="|window.location.href='/processContact'|" >Click</button>
					</div>					
				</form>
			</div>
        </main>
        <footer>
            Copy right &copy;Shankar Ghimire
        </footer>
    </div>
</body>
</html>